html {
    cursor: default;
}

body {
    height:768px;
    width:1024px;
    /*margin-left:171px;*/ /* use to center on 1366 resolution */
}

#mainSlidesFlipView {
    height: 100%;
    width: 100%;
}

.fragment {    
    height: 100%;
    width: 100%;
}

.fullscreen {
    height: 100%;
    width: 100%;
}

.centered-grid-page
{
	display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
}

.bulleted-content {
	margin-left:120px;
    margin-top:145px;
}

.centered-content {
	margin-top:40%;
    -ms-grid-column-align: center; 
	-ms-grid-row-align: center;
}

.slide-button {
	font-family:'segoe ui';
	font-size:14pt;
    min-height:60px;
	width:250px;
	background: rgba(255, 255, 255, 0.8);
    margin:4px;
    padding:11px;
}

.slide-button:HOVER {
	background:#fff;
	color:black;
}

.list-thumbnail {
    margin-top:8px;
    margin-right:8px;
    height:80px;
    width:80px;
}

@media screen and (-ms-view-state: snapped) {
  
}

@media screen and (-ms-view-state: fullscreen-portrait) {
  
}
