.contact-slide-button {
    color:#D24726;
	background-color:rgba(255,255,255,0.8);
    font-family:'segoe ui';
	font-size:14pt;
    min-height:60px;
	width:250px;
    margin:4px;
    padding:11px;
}

.contact-slide-button:HOVER {
	background-color:#fff;	
}

.contact h4 {
	margin-top:6px;
	margin-left:4px;
}

.contact div {
	margin-left:20px;
}

.contact .thumbnail {
	float:left;
	margin-bottom: 150px;
}