.centered-frame {
    margin-top:5%;
    height:600px;
    width:800px;
    background-color:red;
    -ms-grid-column-align:center;
    -ms-grid-row-align:center;
}

.hybrid-slide-button {
	color:#F08002;
	background-color:rgba(255,255,255,0.8);	
    font-family:'segoe ui';
	font-size:14pt;
    min-height:60px;
	width:250px;
    margin:4px;
    padding:11px;
}

.hybrid-slide-button:HOVER {
	background-color:#fff;	
}