<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://bendewey.com/WinrtForWebDevs</SiteUrlToLaunchAfterPublish>
    <publishUrl>ftp://nuology.com/bendewey.com/wwwroot/WinrtForWebDevs/</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <UserName>bendewey</UserName>
    <_SavePWD>False</_SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/WinRtComparisonSite.dll">
      <publishTime>07/26/2012 00:18:59</publishTime>
    </File>
    <File Include="default.aspx">
      <publishTime>07/22/2012 18:06:03</publishTime>
    </File>
    <File Include="default.css">
      <publishTime>07/26/2012 07:04:17</publishTime>
    </File>
    <File Include="images/sailing1.jpg">
      <publishTime>07/22/2012 18:16:31</publishTime>
    </File>
    <File Include="images/sailing2.jpg">
      <publishTime>07/22/2012 18:16:31</publishTime>
    </File>
    <File Include="images/sailing3.jpg">
      <publishTime>07/22/2012 18:16:31</publishTime>
    </File>
    <File Include="images/sailing4.jpg">
      <publishTime>07/22/2012 18:16:31</publishTime>
    </File>
    <File Include="images/Slide19.png">
      <publishTime>07/11/2012 23:10:32</publishTime>
    </File>
    <File Include="images/Slide21.PNG">
      <publishTime>07/26/2012 00:26:07</publishTime>
    </File>
    <File Include="images/Slide28.PNG">
      <publishTime>07/26/2012 07:00:42</publishTime>
    </File>
    <File Include="images/spacer.png">
      <publishTime>07/26/2012 00:04:38</publishTime>
    </File>
    <File Include="Slide19.aspx">
      <publishTime>07/26/2012 00:17:59</publishTime>
    </File>
    <File Include="Slide21.aspx">
      <publishTime>07/26/2012 07:08:07</publishTime>
    </File>
    <File Include="Slide28.aspx">
      <publishTime>07/22/2012 18:25:00</publishTime>
    </File>
    <File Include="UploadedImage.aspx">
      <publishTime>07/26/2012 00:05:50</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>07/24/2012 00:18:00</publishTime>
    </File>
  </ItemGroup>
</Project>