.accelerometer-button {
    color:#AC193D;
    margin-top:10%;
	-ms-grid-column-align:center;
	-ms-grid-row-align:center;
    transform:rotate(0deg);
}

#wheelImage {
    margin-top:10%;
	-ms-grid-column-align:center;
	-ms-grid-row-align:center;
}