.slide-button {
    color:#AC193D;
}

#topButtonContainer {
	height:60px;
	text-align:center;
}

progress {
    width:100%;
}

#mapdiv {
    width:100%; 
    height:85%; 
    position:absolute;
    top: 80px;
}